@import "foundation";

/* ----------------------------------------------------------------------- *|
/* ------ WordPress Generated Classes ------------------------------------ *|
/* ------ http://codex.wordpress.org/CSS#WordPress_Generated_Classes ----- *|
/* ----------------------------------------------------------------------- */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
.alignnone { margin-left: 0; margin-right: 0; }

/* ----------------------------------------------------------------------- *|
/* ------ Media Queries -------------------------------------------------- *|
/* ----------------------------------------------------------------------- */

@media ( min-width: $small-screen ) {}

@media ( min-width: $medium-screen ) {}

@media ( min-width: $large-screen ) {}
